nav{
  background-color: #1968e8;
  height: 100vh;
}
nav ul{
  padding-left: 10px;
  padding-right: 10px;
}
nav ul li a{
  color: #fff;
  font-size: 1.4em;
  text-decoration: none;
}
nav ul li{
  width: 100%;
  list-style: none;
}
