nav{
  background-color: #1968e8;
  height: 100vh;
}
nav ul{
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  list-style: none;
}
nav ul li a{
  color: #fff;
  font-size: 1.4em;
  text-decoration: none;
  width: 100%;
  display: flex;
}
nav ul li a:hover{
  background-color: #4286f4;
}
nav ul li{
  padding: 15px;
}
@media (min-width: 992px) {
  nav ul{
    margin-top: 150px;
  }
}
@media (max-width:550px) {
  nav{
    height: auto;
    position: fixed;
    right: 0;
left: 0;
z-index: 1030;
top: 0px;
padding: 1px;
text-align: center;
  }
  nav ul li:first-child{

  }
  nav ul li a{
    font-size: 1.2em;
  }
  nav ul li{
    padding: 0px 10px 0px 0px;
    display: inline-block;
  }
}
