<div class="col md-12">
  <h2>Lista de compras</h2>
  <div class="cadastro" *ngIf="cadastroVisivel == true">
    <div class="row">
      <div class="col md-3">
        <select #produto >
          <option *ngFor="let produto of produtos" value="{{produto.id}}">{{produto.nome}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col md-3">
        <input #quantidade type="number" placeholder="Quantidade"/>
      </div>
    </div>
    <div class="row">
      <div class="col md-3">
        <input #preco type="number" placeholder="Preço"/>
      </div>
    </div>
    <div class="row">
      <div class="col md-3">
        <button type="button" name="button" (click)="addCompra(produto.value,quantidade.value,preco.value);">Cadastrar</button>
      </div>
    </div>
  </div>
  <div *ngIf="cadastroVisivel == false">
    <div class="row">
      <div class="col md-3">
          <button type="button" name="button" (click)="mostrarCadastro()">Cadastrar compra</button>
        </div>
      </div>
</div>
<div class="row margin-top" *ngIf="mensagem !=''">
  <div class="col md-3">
    <div class="mensagem">
      {{mensagem}} <span (click)="removerMensagem()">x</span>
    </div>
  </div>

</div>
  <div class="row">
    <table>
    <thead>
     <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Total</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compra of compras">
        <td>{{compra.produto}}</td>
        <td>{{compra.quantidade}}</td>
        <td>{{compra.preco}}</td>
        <td>{{compra.preco*compra.quantidade}}</td>
      </tr>

    </tbody>
   </table>
  </div>
</div>
