/* You can add global styles to this file, and also import other style files */
.col{
  position: relative;
min-height: 1px;
padding-right: 20px;
padding-left: 20px;
}
@media (min-width:992px) {
  .col.md-3{
    width: 25%;
  }
  .col.md-9{
    width: 75%;
  }
}
