/* You can add global styles to this file, and also import other style files */
.col{
  position: relative;
min-height: 1px;
padding-right: 20px;
padding-left: 20px;
float: left;
}
.row , .col{
  box-sizing: border-box;
}
@media (min-width:992px) {
  .col.md-2{
    width: 16.66666666%;
  }
  .col.md-3{
    width: 25%;
  }
  .col.md-9{
    width: 75%;
  }
  .col.md-10{
    width: 83.33333333%
  }
}
@media (max-width: 550px) {
  .col{
    width: auto;
    float: none;
  }
}
