
<div class="col md-12">
  <h1>Estoque Mercados App</h1>

  <p>Desafio de front-end proposto pela empresa Wpensar, que consiste em desenvolver um sistema de estoque para um supermercado.

  Esse projeto foi gerado com [Angular CLI](https://github.com/angular/angular-cli) version 1.5.4.
</p>
  <h2>Requisitos atendidos</h2>

  <p>Dos requisitos propostos, os seguintes foram atendidos:</p>
  <h3>Requisitos obrigatórios</h3>
  <ol>
    <li>Cadastro de produtos (Nome)</li>
    <li>Compra de produtos (Produto, quantidade e preço)</li>
    <li>Listagem dos produtos comprados separados por compra (Nome, quantidade, preço de compra)</li>
    <li>Ser fácil de configurar e rodar em ambiente Unix (Linux ou Mac OS X)</li>
    <li>Só deve utilizar bibliotecas livres e gratuitas</li>
  </ol>
  <h3>Diferenciais</h3>
  <ol>
    <li>Ter um design bonito e responsivo</li>
    <li>Angular(5.0.5)</li>
  </ol>

  <h2>Configuração do ambiente</h2>
  <p>Deve se ter instalado na máquina Node.js, npm e AngularCli, de acordo com a referência do angular https://angular.io/guide/quickstart.
  Assumindo que se encontra na pasta principal do projeto, deve-se rodar o seguinte comando `ng serve` no terminal para iniciar o servidor de desenvolvimento. E acessar o endereço `http://localhost:4200/`.
</p>
  <h2>Bibliotecas</h2>

  <p>Não foi utilizada qualquer biblioteca ou framework, além da padrão do angular(5.0.5).</p>

</div>
