
<div class="col md-12">
  Desafio Frontend:

O conceito desse desafio é nos ajudar a avaliar as habilidades dos candidatos às vagas de frontend.

Você tem que desenvolver um sistema de estoque para um supermercado.

A api mockada a ser utilizada fica em http://docs.querotrabalharnawpensar.apiary.io

Seu sistema deve:

    Cadastro de produtos (Nome)
    Compra de produtos (Produto, quantidade e preço)
    Listagem dos produtos comprados separados por compra (Nome, quantidade, preço de compra)
    Ser fácil de configurar e rodar em ambiente Unix (Linux ou Mac OS X)
    Só deve utilizar biliotecas livres e gratuitas

Esse sistema não precisa ter, mas será um plus:

    Autenticação e autorização
    Ter um design bonito e responsivo
    Testes automatizados
    Angular/Ionic

</div>
